@model IEnumerable<DNZ_Gayrimenkul.Models.Property>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body>
    <div>

        <section id='content'>
            <section class='container'>
                <section class='row featured-items'>
                    <section class='span9'>

                        <div class='row'>
                            <div class='span9 featured-item-wrapper featured-item-list'>
                                <div class='featured-item featured-list'>
                                    <div class='top'>
                                        <div class='inner-border'>
                                            <div class='inner-padding'>
                                                <figure>
                                                    <img src="img/photos/4834194361_85d5c4a5e0_b.jpg" alt="" />
                                                    <div class='banner'>For Sale</div>
                                                    <a href="property.html" class='figure-hover'>Zoom</a>
                                                </figure>
                                                <div class='right'>
                                                    <h3><a href="property.html">1 Central Park S</a></h3>
                                                    <p>Las Vegas, NV</p>
                                                    <div class='description'>
                                                        <p>Aliquam luctus, metus eu hendrerit bibendum, justo orci pulvinar enim, sed euismod risus tellus eu mi. Vivamus accumsan adipiscing leo quis suscipit. In hac habitasse platea dictumst.</p>
                                                    </div>
                                                    <div class='price-wrapper'>
                                                        <div class='price'>$1,499</div>
                                                        <div class='rate'>/month</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='bottom'>
                                        <div class='inner-border'>
                                            <div class='inner-padding'>
                                                <p>4 beds  +  2 baths  +  245 sqft</p>
                                                <div class='star-rating'>
                                                    <button class='star active'>1 Star</button>
                                                    <button class='star active'>2 Star</button>
                                                    <button class='star active'>3 Star</button>
                                                    <button class='star active'>4 Star</button>
                                                    <button class='star active'>5 Star</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class='featured-item featured-list'>
                                    <div class='top'>
                                        <div class='inner-border'>
                                            <div class='inner-padding'>
                                                <figure>
                                                    <img src="img/photos/4834197589_84d75a42bd_b.jpg" alt="" />
                                                    <div class='banner'>For Sale</div>
                                                    <a href="property.html" class='figure-hover'>Zoom</a>
                                                </figure>
                                                <div class='right'>
                                                    <h3><a href="property.html">555 Malcolm X Blvd</a></h3>
                                                    <p>Los Angeles, CA</p>
                                                    <div class='description'>
                                                        <p>Aliquam luctus, metus eu hendrerit bibendum, justo orci pulvinar enim, sed euismod risus tellus eu mi. Vivamus accumsan adipiscing leo quis suscipit. In hac habitasse platea dictumst.</p>
                                                    </div>
                                                    <div class='price-wrapper'>
                                                        <div class='price'>$11,000</div>
                                                        <div class='rate'>/year</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='bottom'>
                                        <div class='inner-border'>
                                            <div class='inner-padding'>
                                                <p>4 beds  +  2 baths  +  245 sqft</p>
                                                <div class='star-rating'>
                                                    <button class='star active'>1 Star</button>
                                                    <button class='star active'>2 Star</button>
                                                    <button class='star active'>3 Star</button>
                                                    <button class='star active'>4 Star</button>
                                                    <button class='star active'>5 Star</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class='featured-item featured-list'>
                                    <div class='top'>
                                        <div class='inner-border'>
                                            <div class='inner-padding'>
                                                <figure>
                                                    <img src="img/photos/4834201025_e7f66118eb_b.jpg" alt="" />
                                                    <div class='banner'>For Sale</div>
                                                    <a href="property.html" class='figure-hover'>Zoom</a>
                                                </figure>
                                                <div class='right'>
                                                    <h3><a href="property.html">520 W 110th St</a></h3>
                                                    <p>Las Vegas, NV</p>
                                                    <div class='description'>
                                                        <p>Aliquam luctus, metus eu hendrerit bibendum, justo orci pulvinar enim, sed euismod risus tellus eu mi. Vivamus accumsan adipiscing leo quis suscipit. In hac habitasse platea dictumst.</p>
                                                    </div>
                                                    <div class='price-wrapper'>
                                                        <div class='price'>$14,100</div>
                                                        <div class='rate'>/year</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='bottom'>
                                        <div class='inner-border'>
                                            <div class='inner-padding'>
                                                <p>4 beds  +  2 baths  +  245 sqft</p>
                                                <div class='star-rating'>
                                                    <button class='star active'>1 Star</button>
                                                    <button class='star active'>2 Star</button>
                                                    <button class='star active'>3 Star</button>
                                                    <button class='star active'>4 Star</button>
                                                    <button class='star active'>5 Star</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class='featured-item featured-list'>
                                    <div class='top'>
                                        <div class='inner-border'>
                                            <div class='inner-padding'>
                                                <figure>
                                                    <img src="img/photos/4834203945_3e56a09048_b.jpg" alt="" />
                                                    <div class='banner'>For Sale</div>
                                                    <a href="property.html" class='figure-hover'>Zoom</a>
                                                </figure>
                                                <div class='right'>
                                                    <h3><a href="property.html">100 W 57th St</a></h3>
                                                    <p>Los Angeles, CA</p>
                                                    <div class='description'>
                                                        <p>Aliquam luctus, metus eu hendrerit bibendum, justo orci pulvinar enim, sed euismod risus tellus eu mi. Vivamus accumsan adipiscing leo quis suscipit. In hac habitasse platea dictumst.</p>
                                                    </div>
                                                    <div class='price-wrapper'>
                                                        <div class='price'>$12,300</div>
                                                        <div class='rate'>/year</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='bottom'>
                                        <div class='inner-border'>
                                            <div class='inner-padding'>
                                                <p>4 beds  +  2 baths  +  245 sqft</p>
                                                <div class='star-rating'>
                                                    <button class='star active'>1 Star</button>
                                                    <button class='star active'>2 Star</button>
                                                    <button class='star active'>3 Star</button>
                                                    <button class='star active'>4 Star</button>
                                                    <button class='star active'>5 Star</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class='featured-item featured-list'>
                                    <div class='top'>
                                        <div class='inner-border'>
                                            <div class='inner-padding'>
                                                <figure>
                                                    <img src="img/photos/4834790926_0228ed6cde_b.jpg" alt="" />
                                                    <div class='banner'>For Sale</div>
                                                    <a href="property.html" class='figure-hover'>Zoom</a>
                                                </figure>
                                                <div class='right'>
                                                    <h3><a href="property.html">140 E 63rd St</a></h3>
                                                    <p>Boston, MA</p>
                                                    <div class='description'>
                                                        <p>Aliquam luctus, metus eu hendrerit bibendum, justo orci pulvinar enim, sed euismod risus tellus eu mi. Vivamus accumsan adipiscing leo quis suscipit. In hac habitasse platea dictumst.</p>
                                                    </div>
                                                    <div class='price-wrapper'>
                                                        <div class='price'>$1,099</div>
                                                        <div class='rate'>/month</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='bottom'>
                                        <div class='inner-border'>
                                            <div class='inner-padding'>
                                                <p>4 beds  +  2 baths  +  245 sqft</p>
                                                <div class='star-rating'>
                                                    <button class='star active'>1 Star</button>
                                                    <button class='star active'>2 Star</button>
                                                    <button class='star active'>3 Star</button>
                                                    <button class='star active'>4 Star</button>
                                                    <button class='star active'>5 Star</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class='featured-item featured-list'>
                                    <div class='top'>
                                        <div class='inner-border'>
                                            <div class='inner-padding'>
                                                <figure>
                                                    <img src="img/photos/4834812234_3379989227_b.jpg" alt="" />
                                                    <div class='banner'>For Sale</div>
                                                    <a href="property.html" class='figure-hover'>Zoom</a>
                                                </figure>
                                                <div class='right'>
                                                    <h3><a href="property.html">161 E 110th St</a></h3>
                                                    <p>Los Angeles, CA</p>
                                                    <div class='description'>
                                                        <p>Aliquam luctus, metus eu hendrerit bibendum, justo orci pulvinar enim, sed euismod risus tellus eu mi. Vivamus accumsan adipiscing leo quis suscipit. In hac habitasse platea dictumst.</p>
                                                    </div>
                                                    <div class='price-wrapper'>
                                                        <div class='price'>$19,499</div>
                                                        <div class='rate'>/year</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='bottom'>
                                        <div class='inner-border'>
                                            <div class='inner-padding'>
                                                <p>4 beds  +  2 baths  +  245 sqft</p>
                                                <div class='star-rating'>
                                                    <button class='star active'>1 Star</button>
                                                    <button class='star active'>2 Star</button>
                                                    <button class='star active'>3 Star</button>
                                                    <button class='star active'>4 Star</button>
                                                    <button class='star active'>5 Star</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><div class='featured-item featured-list'>
                                    <div class='top'>
                                        <div class='inner-border'>
                                            <div class='inner-padding'>
                                                <figure>
                                                    <img src="img/photos/4834826842_cdeb5bc8be_b.jpg" alt="" />
                                                    <div class='banner'>For Sale</div>
                                                    <a href="property.html" class='figure-hover'>Zoom</a>
                                                </figure>
                                                <div class='right'>
                                                    <h3><a href="property.html">East 61st Street and Park Avenue</a></h3>
                                                    <p>Los Angeles, CA</p>
                                                    <div class='description'>
                                                        <p>Aliquam luctus, metus eu hendrerit bibendum, justo orci pulvinar enim, sed euismod risus tellus eu mi. Vivamus accumsan adipiscing leo quis suscipit. In hac habitasse platea dictumst.</p>
                                                    </div>
                                                    <div class='price-wrapper'>
                                                        <div class='price'>$12,500</div>
                                                        <div class='rate'>/year</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='bottom'>
                                        <div class='inner-border'>
                                            <div class='inner-padding'>
                                                <p>4 beds  +  2 baths  +  245 sqft</p>
                                                <div class='star-rating'>
                                                    <button class='star active'>1 Star</button>
                                                    <button class='star active'>2 Star</button>
                                                    <button class='star active'>3 Star</button>
                                                    <button class='star active'>4 Star</button>
                                                    <button class='star active'>5 Star</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pagination">
                            <ul>
                                <li class='first-element'><a href="#">Prev</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">...</a></li>
                                <li><a href="#">48</a></li>
                                <li><a href="#">49</a></li>
                                <li class='last-element'><a href="#">Next</a></li>
                            </ul>
                        </div>
                    </section>
                    <aside class='span3'>
                        <section class='widget'>
                            <section class='widget-title uppercase'>
                                <div class='inner'>
                                    <h2>Refine Search</h2>
                                </div>
                            </section>
                            <section class='widget-content'>
                                <form action="">
                                    <div class='widget-section'>
                                        <div class='inner'>
                                            <label for="location">Location</label>
                                            <input type="text" name='location' id='location' class='input-block-level' value='Oxford' />
                                        </div>
                                    </div>
                                    <div class='widget-section'>
                                        <div class='inner'>
                                            <label for="propertyType">Property Type</label>
                                            <select name="propertyType" id="propertyType" class='btn-block selectpicker'>
                                                <option value="all">All</option>
                                                <option value="all">Mansion</option>
                                                <option value="all">Apartment</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class='widget-section'>
                                        <div class='inner'>
                                            <label for="category">Category</label>
                                            <select name="propertyType" id="category" class='btn-block selectpicker'>
                                                <option value="all">For Sale</option>
                                                <option value="all">For Rent</option>
                                                <option value="all">Forclosures</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class='widget-section first-half'>
                                        <div class='inner'>
                                            <label for="minPrice">Min. Price</label>
                                            <select name="propertyType" id="minPrice" class='btn-block selectpicker'>
                                                <option value="all">$17K</option>
                                                <option value="all">$27K</option>
                                                <option value="all">$37K</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class='widget-section second-half'>
                                        <div class='inner'>
                                            <label for="maxPrice">Max. Price</label>
                                            <select name="propertyType" id="maxPrice" class='btn-block selectpicker'>
                                                <option value="all">$999K</option>
                                                <option value="all">$899K</option>
                                                <option value="all">$799K</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class='widget-section'>
                                        <div class='inner'>
                                            <label for="bedrooms">Bedrooms</label>
                                            <select name="propertyType" id="bedrooms" class='btn-block selectpicker'>
                                                <option value="all">3</option>
                                                <option value="all">2</option>
                                                <option value="all">4</option>
                                                <option value="all">5</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class='widget-section'>
                                        <div class='inner' style='position: relative;'>
                                            <label for="size">Size</label>
                                            <input type="text" name='size' id='size' class='input-block-level' value='500' />
                                            <span class='measure-type'>sqft</span>
                                        </div>
                                    </div>
                                    <div class='widget-section'>
                                        <div class='inner'>
                                            <label for='range'>Slide Example</label>
                                            <input type="text" name='size' id='range' class='input-block-level range-example' />
                                        </div>
                                    </div>
                                    <section class='widget-buttons'>
                                        <div class='inner'>
                                            <a href="#" class='more-options'>More Options</a> <br />
                                            <a href='#' class='btn btn-primary btn-large btn-block'>Update</a>
                                        </div>
                                    </section>
                                </form>
                            </section>
                            <a href="#" id='clearFilters'>Clear all filters</a>
                        </section>
                    </aside>
                </section>
            </section>
        </section>
    </div>
</body>

