@{
    ViewBag.Title = "About";
}


<section class='about-slider'>
    <section class='container'>
        <section class='row'>
            <div class='span12'>
                <div class='description-box open' rel='1'>
                    <div class='inner'>
                        <div class='inner-container'>
                            <figure>
                                <img alt="" src="http://hurriyetemlak.cubecdn.net/image.ashx?type=30&image=WebSiteContentImages\0\2\7\0\0\0\ee013170-3c68-45ac-9282-cab2e5099a82.jpg" />
                            </figure>
                            <h2>DNZ Gayrimenkul</h2>
                            <p>DNZ Gayrimenkul  A.Ş  1984 Yılından Günümüze tecrübe ve deneyimi ile Göktürk İstanbul bölgesi merkez olmak üzere alanında uzmanlaşmış profesyonel kadrosu ile nitelikli hizmet veren bir gayrimenkul danışmanlık firmasıdır. Lüks konut ve ticari gayrimenkulde satış ve kiralama - bireysel ve kurumsal olmak üzere yatırım ve satın almada müşteri temsilciği - pazar araştırması ve proje geliştirme - konut projelerinde fiyatlama yapılması ve satış planlaması hizmetleri DNZ Gayrimenkul tarafından profesyonel olarak sunulmaktadır. DNZ - uluslararası alanda kurumsal veya bireysel olmak üzere yabancı müşterilerine de yatırım danışmanlığı yapmaktadır. Elde edilen yatırım imkanları üzerinde gerekli çalışmalar yapıldıktan sonra içeriği genişletilmiş sunumlarla müşterilerine tanıtılmaktadır. DNZ - prestij ve getiri olarak güçlü gördüğü projelere yatırımcı partnerleri ve müşterileri ile beraber aynı zamanda kendisi de yatırım yapmaktadır. DNZ Gayrimenkul İstanbul Ticaret Odası (İTO) üyesidir. DNZ Gayrimenkul A.Ş. İstanbul Ticaret Odası Sicil no: 836308</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</section>
